PL/Service References/ServiceReferenceProducto/ServiceProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:1495/ServiceProducto.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProducto_AddProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_AddProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_UpdateProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_UpdateProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_DeleteProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_DeleteProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_GetAllProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_GetAllProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_GetByIdProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProducto_GetByIdProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProducto">
    <wsdl:operation name="AddProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProducto/AddProducto" message="tns:IServiceProducto_AddProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProducto/AddProductoResponse" message="tns:IServiceProducto_AddProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProducto/UpdateProducto" message="tns:IServiceProducto_UpdateProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProducto/UpdateProductoResponse" message="tns:IServiceProducto_UpdateProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProducto/DeleteProducto" message="tns:IServiceProducto_DeleteProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProducto/DeleteProductoResponse" message="tns:IServiceProducto_DeleteProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProducto/GetAllProducto" message="tns:IServiceProducto_GetAllProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProducto/GetAllProductoResponse" message="tns:IServiceProducto_GetAllProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProducto/GetByIdProducto" message="tns:IServiceProducto_GetByIdProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProducto/GetByIdProductoResponse" message="tns:IServiceProducto_GetByIdProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProducto" type="tns:IServiceProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProducto/AddProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProducto/UpdateProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProducto/DeleteProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProducto/GetAllProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProducto/GetByIdProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProducto">
    <wsdl:port name="BasicHttpBinding_IServiceProducto" binding="tns:BasicHttpBinding_IServiceProducto">
      <soap:address location="http://localhost:1495/ServiceProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>